<div style="padding: 100px; height: 100%; box-sizing: border-box;">
    <mat-card style="height: 100%; box-sizing: border-box; padding:0">
        <app-file-explorer [fileElements]="fileElements | async"
                           [path]="currentPath"
                           [pathId]="currentPathId"
                           [canNavigateUp]="canNavigateUp"
                           [fileTypes]="fileTypes"
                           (folderAdded)="addFolder($event)"
                           (filesAdded)="addFile($event)"
                           (elementRemoved)="removeElement($event)"
                           (navigatedDown)="navigateToFolder($event)"
                           (navigatedToFolder)="navigateToFolder($event)"
                           (navigatedUp)="navigateUp()"
                           (elementRenamed)="renameElement($event)"
                           (elementMoved)="moveElement($event)"
                           (select)="selected"
                           (cut)="onPaste($event)">
        </app-file-explorer>
    </mat-card>
</div>

