<mat-toolbar>
    <mat-icon *ngIf="canNavigateUp" class="pointer" (click)="navigateUp()">
        arrow_back
    </mat-icon>
    <span style="margin-left: 8px">
        <ng-template [ngIf]="pathId.length">
            <ng-container *ngFor="let path of pathId; let last = last">
               <a class="pointer" (click)="navigateToFolder(path)" *ngIf="!last">{{path.name}} <span>/ </span> </a>
               <a *ngIf="last">{{path.name}}</a>
            </ng-container>
        </ng-template>
        <ng-template [ngIf]="!pathId.length">
            Root
        </ng-template>
  </span>
    <span class="spacer"></span>
    <button mat-icon-button [matMenuTriggerFor]="containerContext">
        <mat-icon>more_vert</mat-icon>
    </button>
</mat-toolbar>

<div class="container" fxFlex fxLayout="row" fxLayoutAlign="space-between stretch">
    <div class="content" fxFlex fxLayout="row">
        <mat-grid-list cols="8" rowHeight="100px" fxFlex>
            <mat-grid-tile *ngFor="let element of fileElements" class=file-or-folder>
                <span [matMenuTriggerFor]="rootMenu"
                      [matMenuTriggerData]="{element: element}"
                      #menuTrigger="matMenuTrigger">
                </span>
                <div fxLayout="column"
                     fxLayoutAlign="space-between center"
                     [ngClass]="{ 'bgc-gray': isSelected(element) > -1, 'bgc-cut': isCut(element)}"
                     (dblclick)="navigate(element)"
                     (click)="onSelect($event, element)"
                     (contextmenu)="openMenu($event, element, menuTrigger)">

                    <mat-icon color="primary"
                              class="file-or-folder-icon pointer"
                              *ngIf="element.isFolder">
                        folder
                    </mat-icon>
                    <mat-icon color="primary"
                              class="file-or-folder-icon pointer"
                              *ngIf="!element.isFolder">
                        insert_drive_file
                    </mat-icon>

                    <span>{{element.name}}</span>
                </div>
            </mat-grid-tile>
        </mat-grid-list>
    </div>
</div>


<mat-menu #containerContext="matMenu" xPosition="after">
    <button mat-menu-item (click)="openNewFolderDialog()">
        <mat-icon>folder_open</mat-icon>
        <span>New Folder</span>
    </button>
    <button mat-menu-item [disabled]="!cuted.length" (click)="onPaste()">
        <mat-icon>content_paste</mat-icon>
        <span>Paste</span>
    </button>
</mat-menu>

<mat-menu #rootMenu="matMenu" [overlapTrigger]="false">
    <ng-template matMenuContent let-element="element">
        <!--<button mat-menu-item [matMenuTriggerFor]="moveToMenu" [matMenuTriggerData]="{self: element}">-->
        <!--<mat-icon>open_with</mat-icon>-->
        <!--<span>Move To</span>-->
        <!--</button>-->
        <button mat-menu-item (click)="onCut(element)">
            <mat-icon>content_cut</mat-icon>
            <span>Cut</span>
        </button>
        <button mat-menu-item (click)="openRenameDialog(element)">
            <mat-icon>edit</mat-icon>
            <span>Rename</span>
        </button>
        <button mat-menu-item (click)="deleteElement(element)">
            <mat-icon>delete</mat-icon>
            <span>Delete</span>
        </button>
    </ng-template>
</mat-menu>

<mat-menu #moveToMenu="matMenu">
    <ng-template matMenuContent let-self="self">
        <ng-container *ngFor="let element of fileElements">
            <button *ngIf="element.isFolder && element.id !== self.id" mat-menu-item
                    (click)="moveElement(self, element)">{{element.name}}
            </button>
        </ng-container>
    </ng-template>
</mat-menu>